<%= render PageComponent.new(is_narrow: true) do |page| %>
  <%= page.header(title: "Log In") %>
  <%= page.section(id: "login-form", classes: ["page__section"]) do %>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "form") do |f| %>
      <div class="field">
        <%= f.label :email, class: "form__label" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form__input" %>
      </div>

      <div class="field">
        <%= f.label :password, class: "form__label" %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "form__input" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions" style="margin-top: 10px;">
        <%= f.submit "Log in", class: "btn" %>
      </div>
      <br>
      <%= render "devise/shared/links" %>
    <% end %>
  <% end %>
<% end %>
