<!DOCTYPE html>
<html>
  <head>
    <title>SinceILast</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= tag.nav do %>
      <%= tag.div class: "nav__bar" do %>
        <%= tag.div class: "navbar__left" do %>
          <%= link_to "Dashboard", "#" %>
        <% end %>
        <%= tag.div class: "navbar__center" do %>
          <%= link_to "TimeRecord", "#" %>
        <% end %>
        <%= tag.div class: "navbar__right" do %>
          <%= link_to "Me", "#" %>
        <% end %>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
